#!/bin/bash
#SBATCH --nodes {n//24}
#SBATCH --ntasks-per-node=24
#SBATCH --partition=compute
#SBATCH -t  00:30:00
#SBATCH --job-name ipython-engine
#SBATCH --output ipc.engine-%J.out

which ipengine  
ibrun --npernode 24 ipengine
